@import '../variables.scss';

.intro {
  position: relative;
  background-color: $SacramentoStateGreen;
  min-height: 400px;
  padding: 30px 10px 60px;
  &-top-img {
    top: 0;
    right: -75px;
    position: absolute;
  }
  .intro-line {
    margin-bottom: 40px;
    width: 55px;
    height: 3px;
    background: $LightOrange;
  }
  .intro-title {
    font-size: 2rem;
    width: 60%;
  }
  .intro-cards {
    margin-top: 60px;
  }
}
